{% extends "admin/change_form.html" %}
{% load i18n %}

{% block form_top %}
    {% if not is_popup %}
        <p>{% trans 'Create new user.' %}</p>
    {% else %}
        <p>{% trans 'Enter username and password' %}</p>
    {% endif %}
{% endblock %}