{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1280, initial-scale=1.0">
    <title>
        BMS - 
        {% comment %} {% block title %} {% endcomment %}
            {% if title %}
                {{title}}
            {% endif %}
        {% comment %} {% endblock title %} {% endcomment %}
    </title>


    <link rel="shortcut icon" href="{% static 'images/favicons/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'css/bulma/bulma.css' %}" type="text/css" />
    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/custom/main.css' %}" type="text/css" />
    
    {% block style %}{% endblock style %}
</head>
<body>
    <header>
        {% block navbar %}
            {% include "partials/_navbar.html" %}
        {% endblock navbar %}
    </header>
    <section class="section">
        {% comment %} <div class="container"> {% endcomment %}
            <header>
                {% block page_header %}
                    {% if page_title %}
                        <h1 class="title is-4">
                            {{page_title}}
                        </h1>
                    {% endif %}
                {% endblock page_header %}
                {% comment %} <nav class="breadcrumb" aria-label="breadcrumbs">
                    <ul>
                        <li><a href="#">Bulma</a></li>
                        <li><a href="#">Documentation</a></li>
                        <li><a href="#">Components</a></li>
                        <li class="is-active"><a href="#" aria-current="page">Breadcrumb</a></li>
                    </ul>
                </nav> {% endcomment %}
            </header>

            <div class="section">
                {% block content %}{% endblock content %}
            </div>
        {% comment %} </div> {% endcomment %}
    </section>

    {% block footer %}
        <footer class="footer">
            {% include "partials/_footer.html" %}
        </footer>
    {% endblock footer %}

    {% block javascript %}
    {% endblock javascript %}
</body>
</html>